


    @{
        ViewData["Title"] = "Index";
        Layout = "_TestLayout";
    }


<div class="content-form">

    <h3>Leave a comment</h3>
    <form method="post" asp-controller="Iletisimler" asp-action="BizeUlas">


        <input type="text" placeholder="Ad Soyad" name="AdSoyad" required />
        <input type="text" placeholder="Mail" name="Mail" required />
        <input type="text" placeholder="Konu" name="Konu" required />

        <textarea placeholder="Mesaj" name="Mesaj"></textarea>
        <input type="submit" value="SEND" />
    </form>

</div>